body {
  font-family: "Raleway", sans-serif;
}

.color {
  color: #1e6091;
}

.header {
  display: flex;
}

.head {
  width: 50%;
  padding: 5%;
}
.head-1 {
  width: 60%;
}
.head-2 {
}
.my-image {
  width: 60%;
}
